apiVersion: apps/v1
kind: Deployment
metadata:
  name: model-3d-catalog-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: model-3d-catalog
  template:
    metadata:
      labels:
        app: model-3d-catalog
    spec:
      containers:
        - image: klemiba/model-3d-catalog:2020-11-18-04-49-32
          name: model-3d-catalog
          env:
            - name: KUMULUZEE_DATASOURCES0_CONNECTIONURL
              value: jdbc:postgresql://ruby.db.elephantsql.com:5432/ikhrrgux
            - name: KUMULUZEE_DATASOURCES0_USERNAME
              value: ikhrrgux
            - name: KUMULUZEE_DATASOURCES0_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-pass
                  key: KUMULUZEE_DATASOURCES0_PASSWORD
          ports:
            - containerPort: 8080
              name: server
              protocol: TCP

---

apiVersion: v1
kind: Service
metadata:
  name: model-3d-catalog
spec:
  type: LoadBalancer
  ports:
    - port: 8080
      protocol: TCP
      targetPort: server
  selector:
    app: model-3d-catalog
